collector {
  interface = "0.0.0.0"
  port = ${port}
  ssl {
    enable = false
    redirect = false
    port = 8443
  }
  paths {
%{ for custompath, defaultpath in paths ~}
    "${custompath}"    = "${defaultpath}"
%{ endfor ~}
  }
  p3p {
    policyRef = "/w3c/p3p.xml"
    CP = "NOI DSP COR NID PSA OUR IND COM NAV STA"
  }
  crossDomain {
    enabled = false
    domains = [ "*" ]
    secure = true
  }
  cookie {
    enabled = true
    expiration = "365 days"
    name = sp
    domains = []
    fallbackDomain = "${cookie_domain}"
    secure = true
    httpOnly = false
    sameSite = "None"
  }
  doNotTrackCookie {
    enabled = false
    name = ""
    value = ""
  }
  cookieBounce {
    enabled = false
    name = "n3pc"
    fallbackNetworkUserId = "00000000-0000-4000-A000-000000000000"
    forwardedProtocolHeader = "X-Forwarded-Proto"
  }
  enableDefaultRedirect = false
  redirectMacro {
    enabled = false
    placeholder = "[TOKEN]"
  }
  rootResponse {
    enabled = false
    statusCode = 302
    headers = {}
    body = "302, redirecting"
  }
  cors {
    accessControlMaxAge = "5 seconds"
  }
  prometheusMetrics {
    enabled = false
  }
  streams {
    useIpAddressAsPartitionKey = false
    good {
      name = ${good_topic_name}
      googleProjectId = "${project_id}"
      buffer {
        byteLimit = ${byte_limit}
        recordLimit = ${record_limit}
        timeLimit = ${time_limit_ms}
      }
    }
    bad {
      name = ${bad_topic_name}
      googleProjectId = "${project_id}"
      buffer {
        byteLimit = ${byte_limit}
        recordLimit = ${record_limit}
        timeLimit = ${time_limit_ms}
      }
    }
  }
  telemetry {
    disable = ${telemetry_disable}
    interval = 15 minutes
    method = "POST"
    url = "${telemetry_collector_uri}"
    port = ${telemetry_collector_port}
    secure = ${telemetry_secure}
    userProvidedId = "${telemetry_user_provided_id}"
    autoGeneratedId = "${telemetry_auto_gen_id}"
    moduleName = "${telemetry_module_name}"
    moduleVersion = "${telemetry_module_version}"
    instanceId = $${INSTANCE_ID}
  }
}
