readonly CONFIG_DIR=/opt/snowplow/config

sudo mkdir -p $${CONFIG_DIR}

sudo base64 --decode << EOF > $${CONFIG_DIR}/collector.hocon
${config_b64}
EOF

sudo docker run \
  -d \
  --name collector \
  --restart always \
  --network host \
  --memory=$(get_application_memory_mb)m \
%{ if gcp_logs_enabled ~}
  --log-driver gcplogs \
%{ else ~}
  --log-opt max-size=10m \
  --log-opt max-file=5 \
%{ endif ~}
  --mount type=bind,source=$${CONFIG_DIR},target=/snowplow/config \
  --env JDK_JAVA_OPTIONS='${java_opts}' \
  --env INSTANCE_ID=$(get_instance_id) \
  -p ${port}:${port} \
  snowplow/scala-stream-collector-pubsub:${version} \
  --config /snowplow/config/collector.hocon

${telemetry_script}
